/* fonts style */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}
.section-title{
    margin: 20px 0;

}

/* .main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */

/* Header section style */
header{
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    height: 100vh;
    position: relative;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;   
    border-bottom: 1px solid white;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    letter-spacing: 2.4px;
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    list-style: none;
    margin: 10px 20px;

}
.nav-item ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1.4px;
}
.banner-section h1{
    position: absolute;
    top: 50vh;
    left: 70vh;
    color: white;
    letter-spacing: .5em;
    font-size: 40px;
}


/* Project section styles */
.projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 27px;
}

.project{
    position: relative;

}
.project img{
    width: 280px;
}
.project p{
    position: absolute;
    top: 0;
    padding: 8px 16px;
    background-color: black;
    color: white;
}

/* about section style */
.about-info{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
}
.architects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 27px;
}
.arch-img img{
    width: 280px;
}
.arch-info{
    padding: 8px 0px;
}
.arch-info h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.arch-info span{
    font-size: 18px;
    color: burlywood;
    margin-bottom: 10px;
}
.arch-info p{
    margin: 10px 0;
    font-size: 18px;

}

.arch-info button{
    width: 100%;
    font-size: 18px;
    padding: 6px 0;
    outline: none;
    border: none;
}
.arch-info button:hover{
        cursor: pointer;
        background-color: rgb(180, 174, 174);
        transition: .2s linear;

}

/* contact form style */
.contact-form form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.text-field{
    margin: 10px 0;
    height: 30px;
    font-size: 16px;
    padding: 3px 6px;
}
.text-area{
    margin: 10px 0;
    font-size: 16px;
    padding: 3px 6px;
    font: inherit;
    resize: none;
}

.contact-form form button{
    width: 180px;
    padding: 8px 16px;
    font-size: 20px;
    margin: 10px 0;
}

/* Footer section style */
footer{
    padding: 20px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 10px;
}


/* Responsive Styles */
/* Mobile Device */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
        padding: 0;
    }
    header{
        background-size: cover;
    }
    .nav-bar{
        flex-direction: column;
        padding-top: 20px;
    }
    .banner-section h1{
        position: absolute;
        top: 50vh;
        left: 10vh;
        color: white;
        letter-spacing: .5em;
        font-size: 20px;
    }
    .projects, .architects{
        grid-template-columns: repeat(1, 1fr);
    }
    .project img{
        width: 100%;
    }
    .arch-img img{
        width: 100%;
    }
    .arch-info{
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .arch-info button{
        background-color: rgb(107, 106, 106);
    }
    .section-title{
        margin-left: 20px;
    }
    .about-info{
        padding: 0 10px;
    }
    .text-field{
        width: 90%;
        margin: 10px 11px;
    }
    .text-area{
        width: 90%;
        margin: 10px 11px;
        resize: none;
    }
    .contact-form form button{
        margin-left: 11px;
    }
}
/* Tablet responsive styles */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .container{
        width: 100%;
        padding: 0;
    }
    header{
       width: 100%;

    }
    .banner-section h1{
        position: absolute;
        top: 50vh;
        left: 14vh;
        color: white;
        letter-spacing: .5em;
        font-size: 40px;
    }
    .projects, .architects{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .project img{
        width: 100%;
    }

    .section-title{
        margin-left: 20px;
    }
    .about-info{
        padding: 0 20px;
    }
    .arch-img img{
        width: 100%;
       
    }
    .arch-info{
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .arch-info button{
        background-color: rgb(107, 106, 106);
    }
    
}

